<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form ngNativeValidate class="form-horizontal form-material" id="medicoform" action="index.html" #f (ngSubmit)="registrarMedico( f )">
                    <h3 class="box-title m-t-40 m-b-0">Médico <small>nombre del médico</small></h3>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input [(ngModel)]="medico.nombre" name="nombre" class="form-control" type="text" required placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <select (change)="cambiaHospital( $event.target.value )" [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                            <option value="" selected disabled hidden data-hidden="true">Seleccione Hospital</option>
                            <option *ngFor="let hospital of hospitales"  [value]="hospital._id" [selected]="hospital._id === medico.hospital">{{ hospital.nombre }}</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary " type="submit">Guardar</button>&nbsp;
                            <button class="btn btn-dark" type="button" [routerLink]="['/medicos']">Cancelar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="text-body">Hospital</div>
                <img [src]=" hospital.img | imagen:'hospital'" class="rounded img-fluid" />
            </div>
        </div>
    </div>

    <div class="col-3" *ngIf="medico._id && medico._id !== 'new' ">
        <div class="card">
            <div class="card-body">
                <div class="text-body">Fotografía</div>
                <img [src]=" medico.img | imagen:'medico'" class="rounded img-fluid" />
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-dark" type="button" (click)="cambiarImagen()">Cambiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>