<div class="row animated fadeIn">
    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del usuario</h4>
                <h6 class="card-subtitle">{{usuario.nombre}}</h6>
                <form ngNativeValidate class="form p-t-20" #f="ngForm" (ngSubmit)="modificarUsuario( f.value )">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre del Usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Nombre de usuario" name="nombre" [(ngModel)]="usuario.nombre" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Dirección de correo</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" [attr.disabled]="usuario.google ? '' : null" class="form-control" id="exampleInputEmail1" placeholder="Entre la dirección de correo" name="email" [(ngModel)]="usuario.email" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i
                            class="ti-save"></i> Modificar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotografía del usuario</h4>
                <h6 class="card-subtitle">{{usuario.nombre}}</h6>

                <img *ngIf="previewImg" [src]="previewImg" class="img-responsive">
                <img *ngIf="!previewImg" [src]=" usuario.img | imagen " alt="user" class="img-responsive">
                <br>
                <form *ngIf="!usuario.google" class="form p-t-20" #fimg="ngForm" (ngSubmit)="modificarImagen()">
                    <div class="form-group">
                        <label for="pwd1">Imagen</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-file"></i></div>
                            <!-- type file is unsuported as ngModel, take the content only is possible with the event -->
                            <input type="file" class="form-control" id="img" placeholder="Seleccione una imagen" name="img" accept=".gif,.jpg,.jpeg,.png" (change)="previsualizarImagen( $event )">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i
                            class="ti-save"></i>
                        Actualizar foto</button>
                </form>
            </div>
        </div>
    </div>
</div>