<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input type="text" class="form-control" placeholder="Buscar hospital ..." (keyup)="buscarHospitales( input.value )">
            </div>
        </div>
    </div>
</div>
<div *ngIf="cargando" class="row">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <i class="fa fa-spin fa-refresh fa-2x"></i> Loading
        </div>
    </div>
</div>
<!-- <div *ngIf="!cargando" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary rounded float-right" (click)="crearHospital()"><i class="fa fa-plus-square"></i> Crear Hospital</button>
            </div>
        </div>
    </div>
</div> -->

<div *ngIf="!cargando" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary rounded float-right" (click)="crearHospital()"><i class="fa fa-plus-square"></i> Crear Hospital</button>
                <br>
                <h3 *ngIf="!termino" class="card-title">Hospitales registrados (<small>{{ total }}</small>)</h3>
                <h3 *ngIf="termino" class="card-title">Hospitales encontrados (<small>{{ total }}</small>)</h3>
                <table class="table table-hover">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70"><img (click)="modificarImagen( hospital )" [src]="hospital.img | imagen:'hospital'" class="img-circle img-50 pointer"></td>
                            <td class="w-75"><input type="text" [(ngModel)]="hospital.nombre" class="form-control"></td>
                            <td>
                                <button (click)="modificarHospital( hospital )" class="btn btn-primary"><i class="fa fa-save"></i></button>
                                <button (click)="borrarHospital( hospital )" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button *ngIf="!termino" (click)="cambiarDesde(-5)" class="btn btn-secondary float-lg-left"><i class="fa fa-arrow-left"></i> Anteriores</button> &nbsp;
                <button *ngIf="!termino" (click)="cambiarDesde(5)" class="btn btn-secondary float-lg.right">Siguientes <i class="fa fa-arrow-right"></i></button>

            </div>
        </div>
    </div>
</div>